:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

[data-theme="dark"] {
  --bg-color: #212121;
  --text-color: #ececec;
}

.app {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  min-height: 100vh;
}


